html {
    font-size: 10px;
}
a:visited {
    text-decoration: none;
}
body {
    margin: 0;
    background-color: rgb(64, 64, 64);
    font-family: "Noto Sans KR", sans-serif;
    /*font-family: "휴먼아미체", sans-serif;*/
}
.text-center {
    text-align: center;
}
.grid-3070 {
    display: grid;
    grid-template-columns: 3fr 7fr;
    margin: auto;
    align-items: center;
    width: 42rem;
}
#character-search {
    width: 30rem;
    height: 3rem;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: none;
    border: none;
    border-radius: 10px;
    color: white;
    padding-left: 10px;
}
#character-search:focus {
    box-shadow: none;
    outline: none;
}
main {
    padding: 0 10vw;
    display: grid;
    grid-template-columns: 17rem auto;
    gap: 2rem;
}
.main-content {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
    gap: 2rem;
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100vh - 9rem);
    scrollbar-width: none;
}
.sidebar {
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    padding: 1rem 0;
    background-color: rgba(0, 0, 0, 0.3);
    overflow-y: auto;
    height: calc(100vh - 9rem);
    scrollbar-width: none;
}
ul {
    margin: 0;
    padding: 0;
}
.region-item-container {
    list-style: none;
    margin: 1rem 0;
    text-align: center;
}
.region-item {
    display: block;
    padding: 2rem;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bolder;
    color: aliceblue;
}
.region-item-container:hover {
    background-color: rgba(103, 31, 31, 0.2);
    text-shadow: 0 5px 5px rgb(0,0,0);
}
.second-sidebar {
    position: fixed;
    top: 7rem;
    left: calc(10vw + 17rem);
    width: 12rem;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    opacity: 0;
    padding: 2vh 0;
    transform: translateX(-20px);
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.5s ease-in-out, box-shadow 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
}
.region-item-container:hover .second-sidebar {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
.map-item {
    display: block;
    color:white;
    padding: 1.5rem 0;
    text-decoration: none;
    font-size: 1.5rem;
    transition: background-color 0.2s ease-out;
}
.map-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.container {
    display: grid;
    padding: 1rem;
    border-radius: 10px;
    background-color: #535353;
    height: fit-content;
}
.container-title {
    font-size: 2.5rem;
    color: aliceblue;
    margin: 0;
}
.container-subtitle {
    font-size: 1.5rem;
    color: #dddbdb;
}
.map-buttons {
    display: grid;
    grid-template-columns: 2rem 14rem 2rem;
    gap:1rem;
    align-items: center;
    margin: auto;
}
.btn {
    text-decoration: none;
    font-size: 2rem;
    color: white;
}
.btn:hover {
    background: #504141;
}

#result-table {
    margin: 1rem auto auto auto;
    border-collapse: collapse;
    background-color: #404040;
    border-radius: 10px;
}
#result-table td, tr {
    text-align: center;
    font-size: 1rem;
    color: #dddbdb;
    overflow: hidden;
    padding: 1rem;
    width: 1rem;
}
#total-price {
    text-align: right;
    margin: 0;
}
.item-name{
    font-weight: bold;
}
.item-icon {
    width: 4rem;
}
