a:visited {
    text-decoration: none;
}
body {
    display: flex;
    height: 100vh;
    margin: 0;
    background-color: rgb(64, 64, 64);
    font-family: "Noto Sans KR", sans-serif;
}
ul {
    padding: 0;
}
.sidebar {
    width: 15vw;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    padding: 2vh 0;
    background-color: rgba(0, 0, 0, 0.3);
    overflow-y: auto;
}
.sidebar::-webkit-scrollbar {
    display: none;
}
.region-item-container {
    list-style: none;
    margin: 1vh 0;
    text-align: center;
}
.main {
    flex: 1;
    padding: 2vh;
}
.region-item {
    display: block;
    padding: 3vh 3vh;
    text-decoration: none;
    font-size: 1.7vw;
    font-weight: bolder;
    color: aliceblue;
    text-shadow: 0 0.5vw 1vw rgb(0,0,0);
}

.region-item-container:hover {
    background-color: rgba(103, 31, 31, 0.2);
}

.second-sidebar {
    position: fixed;
    top: 0;
    left: 15%;
    width: 10vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    opacity: 0;
    padding: 2vh 0;
    transform: translateX(-20px);
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.5s ease-in-out, box-shadow 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
}

.region-item-container:hover .second-sidebar {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.map-item {
    display: block;
    color:white;
    padding: 3vh 0;
    text-align: center;
    text-decoration: none;
    font-size: 1.2vw;
    transition: background-color 0.2s ease-out;
}

.map-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.map-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.map-buttons {
    padding: 10px 0;
    display: flex;
    gap: 10px;
}
.btn {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background: #876f6f;
    border-radius: 5px;
}
.btn:hover {
    background: #504141;
}
#region-name {
    font-size: 3vw;
    margin: 0;
    color: aliceblue;
}
#map-name {
    font-size: 1.5vw;
    font-weight: normal;
    color: aliceblue;
}