<!DOCTYPE html>
<html lang="en">
<head>
    <title>WingLoa</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="/js/header.js"></script>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/character.css">

</head>
<body>
<header>
<!--    <div class="header-content">-->
    <div class="site-logo">
        <a href="/">
            <img src="/img/logo.png" width="70%" alt="logo">
        </a>
    </div>
    <div class="search fs-4">
        <input type="text" id="character-search" name="name" placeholder="캐릭터 검색" autocomplete="off" spellcheck="false">
    </div>
<!--    </div>-->
</header>
<main>
    <div class="row" style="height: 40rem" th:if="${character}">
        <div class="col-xl-4 bg-loa ps-5" th:style="'background-image:url('+ ${character.characterImage} +');'">
            <div class="row">
                <h3 class="d-inline col-12 gy-5" th:text="${character.serverName}">서버 이름</h3>
                <span class="d-inline fs-4 col-auto" th:text="${character.characterClassName}">클래스</span>
                <span class="col-12 gy-4 fs-5" th:text="${character.guildName}">길드</span>
                <h1 class="col-12" th:text="${character.characterName}">이름</h1>
                <span class="col-12 fs-5" th:text="${character.title}">Title</span>
                <h1 class="col-12 gy-4" th:text="${character.itemMaxLevel}">Item Level</h1>
                <div class="col-auto gy-4">
                    <p class="m-0 fs-4">전투</p>
                    Lv.<h3 class="d-inline ms-1" th:text="${character.characterLevel}">Character Level</h3>
                </div>
                <div class="col-auto gy-4">
                    <p class="m-0 fs-4">원정대</p>
                    Lv.<h3 class="d-inline ms-1" th:text="${character.expeditionLevel}">Expedition Level</h3>
                </div>
                <div class="col-12 gy-4">
                    <p class="m-0 fs-4">영지</p>
                    Lv.<h3 class="d-inline ms-1" th:text="${character.town.townLevel}"></h3>
                    <h3 class="d-inline" th:text="${character.town.townName}"></h3>
                </div>
                <div class="col-8 gy-2 row text-center">
                    <span class="col-2 fs-4 bg-warning p-0 mx-2 rounded-4" th:text="${character.arkPassivePoint.evolution}">진화</span>
                    <span class="col-2 fs-4 bg-info p-0 mx-2 rounded-4" th:text="${character.arkPassivePoint.realization}">깨달음</span>
                    <span class="col-2 fs-4 bg-success p-0 mx-2 rounded-4" th:text="${character.arkPassivePoint.leaf}">도약</span>
                </div>
            </div>
        </div>
        <div class="col-8">
            
        </div>
    </div>
</main>

</body>

</html>
