<!DOCTYPE html>
<html lang="en">
<head>
    <title>WingLoa</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="/js/load-total-price.js"></script>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<header>
<!--    <div class="header-content">-->
    <div class="site-logo">
        <a href="/">
            <img src="/img/logo.png" width="70%" alt="logo">
        </a>
    </div>
    <div class="search">
        <input type="text" id="character-search" name="name" placeholder="캐릭터 검색" autocomplete="off" spellcheck="false">
    </div>
<!--    </div>-->
</header>
<main>
    <div>
        <div class="sidebar">
            <ul>
                <li th:each="regionItem : ${regions}" class="region-item-container">
                    <a th:href="@{/regions/{regionId}(regionId=${regionItem.getId()})}"
                       class="region-item" th:text="${regionItem.getName()}"></a>
                    <div class="second-sidebar">
                        <a th:each="mapItem : ${regionItem.getMaps()}" th:text="${mapItem.getName()}"
                           th:href="@{/regions/{regionId}(regionId=${regionItem.getId()}, mapId=${mapItem.getId()})}"
                           class="map-item">Map Name</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-content">
        <div class="container text-center">
            <h2 th:text="${region.getName()}" class="container-title">Region Name</h2>
            <div class="map-buttons">
                <a th:href="@{/regions/{regionId}(
            regionId=${region.getId()},
            mapId=${map.getId()},
                direct='prev')}" class="btn">&lt;</a>
                <h3 th:text="${map.getName()}" class="container-subtitle">Map Name</h3>
                <a th:href="@{/regions/{regionId}(
            regionId=${region.getId()},
            mapId=${map.getId()},
            direct='next')}" class="btn">&gt;</a>
            </div>
            <img th:src="${map.getImageUrl()}" alt="Map Image" width="100%">

        </div>
        <div class="container">
            <div class="grid-3070">
                <h2 class="container-title">수집품</h2>
                <h3 class="container-subtitle" id="total-price"></h3>
            </div>
            <table id="result-table" th:if="${items.size() != 0}">
                <tbody id="results">
                <tr>
                    <td th:each="item : ${items}">
                        <img class="item-icon" th:src="${item.getIcon()}" th:alt="${item.getName()}">
                    </td>
                </tr>
                <tr>
                    <td th:each="item : ${items}">
                        <th:block th:switch="${item.getGrade()}">
                            <span th:case="일반" th:text="${item.getName()}" style="color: white" class="item-name">일반</span>
                            <span th:case="고급" th:text="${item.getName()}" style="color: darkgreen" class="item-name">고급</span>
                            <span th:case="희귀" th:text="${item.getName()}" style="color: dodgerblue" class="item-name">희귀</span>
                            <span th:case="영웅" th:text="${item.getName()}" style="color: #a355ff" class="item-name"> 영웅</span>
                            <span th:case="전설" th:text="${item.getName()}" style="color: darkorange" class="item-name">전설</span>
                        </th:block>
                    </td>
                </tr>
                <tr>
                    <td th:each="item : ${items}">
                        <span th:text="${item.getRecentPrice()}">개당 가격</span>
                        <img src="/img/gold.png" width="10" alt="gold">
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td th:each="item : ${items}" style="color: sandybrown">
                        <th:block th:switch="${item.getGrade()}">
                            <span th:case="일반" th:text="${item.getRecentPrice() * 20}" class="price">일반</span>
                            <span th:case="고급" th:text="${item.getRecentPrice() * 20}" class="price"> 고급</span>
                            <span th:case="희귀" th:text="${item.getRecentPrice() * 10}" class="price">희귀</span>
                            <span th:case="영웅" th:text="${item.getRecentPrice() * 6}" class="price">영웅</span>
                            <span th:case="전설" th:text="${item.getRecentPrice() * 3}" class="price">전설</span>
                        </th:block>
                        <img src="/img/gold.png" width="10" alt="gold">
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>

</main>

</body>

</html>
