<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Map Details</title>
</head>
<body>

<h1>Map Details</h1>

<div th:if="${map != null}">
    <h3 th:text="${map.name}"></h3>
    <img th:src="@{${map.imageUrl}}" alt="Map Image" width="500">

    <div>
        <p>
            <a th:if="${map.previousMap != null}"
               th:href="@{/map/previous/{mapId}(mapId=${map.id}, regionId=${region.id})}"
               class="previousMap">Previous Map</a>
        </p>
        <p>
            <a th:if="${map.nextMap != null}"
               th:href="@{/map/next/{mapId}(mapId=${map.id}, regionId=${region.id})}"
               class="nextMap">Next Map</a>
        </p>
    </div>
</div>

</body>
</html>